<table>
  <tr>User Profile</tr>
  <tr>
    <td>
      Username: 
    </td>
    <td>
      <%= @user.user_name %>
    </td>
  <tr>
  <tr>
    <td>
      Email: 
    </td>
    <td>
      <%= @user.email %>
    </td>
  <tr>
</table>